*.gem
*.rbc
.bundle
.config
.yardoc
.idea
.DS_STORE
spec/test_data/sample_stream_rspec_test.binary
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/test_data/sample_stream_archives
test/tmp
test/version_tmp
tmp
Gemfile.lock
